/*general styling*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #000;
}
html {
  scroll-behavior: smooth;
}

.header {
    color: rgb(59, 59, 207);
    font-size: 4vh;
    padding-bottom: 0.5vh;
}

.header-alt {
    color: rgb(235, 74, 34);
    font-size: 4vh;
    padding-bottom: 0.5vh;
}


p {
  color: white;
}

h1 {
    color: rgb(59, 59, 207);
}

h2 {
    color: white;
}

/*transition*/

a, .btn{
    transition: all 300ms ease;
}

/*desktop nav*/

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    background-color: #000;
    color: #FFFFFF;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.logo {
    padding-top: 2vh;
}

a {
    color:whitesmoke;
    text-decoration: none;
    text-decoration-color: black;
}

a:hover {
    color: rgba(235, 104, 104, 0.575);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgba(235, 104, 104, 0.575);
}

.logo:hover {
    cursor: default;
}

/*hamburger menu*/

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: black;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 0px;
    text-align: center;
    font-size: 1.5 rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/*sections*/

section {
    padding-top: 4vh;
    height: 96vh;
    margin:0 10rem;
    box-sizing: border-box;
    min-height:fit-content;
}

.section-container {
    display: flex;
}

/*profile section*/

#profile-stuff {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 65vh;
}

#bluedude {
    padding: 50px;
    margin: auto;
    display: block;
    height: 50vh;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

#rights {
    text-align: center;
}

#rights-alt {
    display: none;
}

/*icons*/

.icon {
    cursor: pointer;
    height: 2rem;
}

/*buttons*/

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-container2 {
    padding: 60vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn2 {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    bottom: 0;
}

.btn-color-1, .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;;
}

.btn-color-1, .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
    color: white;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/*about*/

#about {
    height: 100vh;
    position: relative;
}

#about-text {
    height: 5vh;
}

#me {
    padding: 50px;
    margin: auto;
    display: block;
    height: 50vh;
}

/*welcome*/

#welcome {
    position: relative;
    height: 100vh'
}

#blueguy-container {
    padding: 30px;
    height: 60vh;
    margin: 10vh auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

#blue {
    width: 85%;
    object-fit: contain;
    background: url(assets/planetpalmer.jpg);
    background-size: cover;
    background-position:center;
    position: relative;
}

/*horses*/

#horse {
    position: relative;
}

#horse-text {
    height: 5vh;
}

#horse-container {
    width: 100%;
    height: 90vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box {
    width: 100px;
    height: 70vh;
    margin: 10px;
    border-radius: 50px;
    background: url(assets/HorseVer1.jpg);
    background-size: cover;
    background-position:center;
    position: relative;
    transition: width 0.5s;
}

.img-box:nth-child(2){
    background: url(assets/HorseVer2.jpg);
    background-size: cover;
    background-position:center;
}

.img-box:nth-child(3){
    background: url(assets/HorseVer3.jpg);
    background-size: cover;
    background-position:center;
}

.img-box h3{
    color: black;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:hover {
    width: 300px;
    cursor: pointer;
}

.img-box:hover h3{
    opacity: 1;
    bottom: 25px;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
    height: 10vh;
}

.arrow2 {
    position: absolute;
    right: -5rem;
    top: 2.5rem;
    height: 10vh;
}


/*bigger stuff*/

#misc1 {
    height: 100vh;
    position: relative;
}

#misc1-text {
    height: 5vh;
}

.gallery-grid1 {
    padding: 10px;
    height: 60vh;
    margin: 10vh auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.grid-img2 {
    width: 100%;
    object-fit: contain;
    background: url(assets/switches.jpg);
    background-size: cover;
    background-position:center;
    position: relative;
    transition: width 0.5s;
}

.grid-img2:nth-child(2){
    background: url(assets/fritz.jpg);
    background-size: cover;
    background-position:center;
}

.grid-img2 h3{
    color: rgb(175, 137, 201);
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.grid-img2:hover h3{
    opacity: 1;
    bottom: 25px;
    background-color: black;
}

/*beasts*/

#beasts {
    position: relative;
}

#beasts-text {
    height: 5vh;
}

.gallery-grid {
    width: 100%;
    padding: 10px;
    height: 55vh;
    margin: 10vh auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.grid-img {
    width: 100%;
    object-fit: contain;
    background: url(assets/planetpalmer.jpg);
    background-size: cover;
    background-position:center;
    position: relative;
    transition: width 0.5s;
}

.grid-img:nth-child(2){
    background: url(assets/Gate_to_the_Underworld.jpg);
    background-size: cover;
    background-position:center;
}

.grid-img:nth-child(3){
    background: url(assets/\'Boxes\'-1.png);
    background-size: cover;
    background-position:center;
}

.grid-img h3{
    color: rgba(255, 0, 200, 0.455);
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.grid-img:hover h3{
    opacity: 1;
    bottom: 25px;
    background-color: black;
}

/*among others*/

#others {
    height: 100vh;
    position: relative;
}

#others-text {
    height: 5vh;
}

.gallery-grid3 {
    padding: 10px;
    height: 60vh;
    margin: 10vh auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-img3 {
    width: 100%;
    object-fit: contain;
    background: url(assets/\'Noon\ at\ the\ Square\'\,\ 2019.jpg);
    background-size: cover;
    background-position:center;
    position: relative;
    transition: width 0.5s;
}

.grid-img3:nth-child(2){
    background: url(assets/friday.jpg);
    background-size: cover;
    background-position:center;
}

.grid-img3:nth-child(3){
    background: url(assets/friends.jpg);
    background-size: cover;
    background-position:center;
}

.grid-img3-l {
    width: 100%;
    object-fit: contain;
    grid-column: span 3;
    background: url(assets/Untitled_.png);
    background-size: cover;
    background-position:center;
    position: relative;
    transition: width 0.5s;
}

.grid-img3 h3, .grid-img3-l h3 {
    color: rgb(96, 170, 87);
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.grid-img3:hover h3, .grid-img3-l:hover h3{
    opacity: 1;
    bottom: 25px;
    background-color: black;
}


/*things with teeth*/

#teeth {
    height: 100vh;
    position: relative;
}

#teeth-text {
    height: 5vh;
}

.gallery-grid5 {
    padding: 10px;
    height: 60vh;
    margin: 10vh auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.grid-img5 {
    width: 100%;
    object-fit: contain;
    background: url(assets/paint.jpg);
    background-size: cover;
    background-position:center;
    position: relative;
    transition: width 0.5s;
}

.grid-img5:nth-child(2){
    background: url(assets/cornucopia.jpg);
    background-size: cover;
    background-position:center;
}

.grid-img5:nth-child(3){
    background: url(assets/\'Creatures\'\,\ 2021.jpg);
    background-size: cover;
    background-position:center;
}

.grid-img5:nth-child(4){
    background: url(assets/One_Two_Skip_A_Few.jpg);
    background-size: cover;
    background-position:center;
}

.grid-img5:nth-child(5){
    background: url(assets/delebimus!.jpg);
    background-size: cover;
    background-position:center;
}

.grid-img5:nth-child(6){
    background: url(assets/something.jpg);
    background-size: cover;
    background-position:center;
}

.grid-img5 h3{
    color: red;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.grid-img5:hover h3{
    opacity: 1;
    bottom: 25px;
    background-color: black;
}

/*Recents*/

#recent {
    height: 100vh;
    position: relative;
}

#recent-text {
    height: 5vh;
}

.gallery-grid4 {
    padding: 10px;
    height: 60vh;
    margin: 10vh auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.grid-img4 {
    width: 100%;
    object-fit: contain;
    background: url(assets/Prophet.jpg);
    background-size: cover;
    background-position:center;
    position: relative;
    transition: width 0.5s;
}

.grid-img4:nth-child(2){
    background: url(assets/Self\ portrait.jpg);
    background-size: cover;
    background-position:center;
}

.grid-img4:nth-child(3){
    background: url(assets/Snares.jpg);
    background-size: cover;
    background-position:center;
}

.grid-img4:nth-child(4){
    background: url(assets/2_Construction\ Paper.jpg);
    background-size: cover;
    background-position:center;
}

.grid-img4:nth-child(5){
    background: url(assets/horseIV.JPG);
    background-size: cover;
    background-position:center;
}

.grid-img4:nth-child(6){
    background: url(assets/something.jpg);
    background-size: cover;
    background-position:center;
}

.grid-img4 h3{
    color: rgba(212, 85, 174, 0.37);
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.grid-img4:hover h3{
    opacity: 1;
    bottom: 25px;
    background-color: black;
}


/*clay*/

#clay {
    height: 100vh;
    position: relative;
}

#clay-text {
    height: 5vh;
}

video::-webkit-media-controls-volume-slider {
    display:none;
    }
    
    video::-webkit-media-controls-mute-button {
    display:none;
    }

video{
    position: relative;
    top: 45%;
    transform: translateY(-50%);
  }

#homepagebtn {
    display: block;
    margin: auto;
    position: relative;
    top: 40%;
}

.gallery-grid7 {
    padding: 10px;
    height: 60vh;
    margin: 10vh auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(8, 1fr);
}

.img-box6 {
    width: 320px;
    height: 240px;
    margin: 10px;
    align-content: center;
    justify-content: center;
}

.img-box7 {
    width: 50px;
    height: 70vh;
    margin: 10px;
    border-radius: 50px;
    background: url(assets/storyboard.jpg);
    background-size: cover;
    background-position:center;
    position: relative;
    transition: width 0.5s;
}

.img-box7:nth-child(2){
    background: url(assets/3.png);
    background-size: cover;
    background-position:center;
}

.img-box7:nth-child(3){
    background: url(assets/4.jpeg);
    background-size: cover;
    background-position:center;
}

.img-box7:nth-child(4){
    background: url(assets/5.jpeg);
    background-size: cover;
    background-position:center;
}

.img-box7:nth-child(5){
    background: url(assets/8.jpeg);
    background-size: cover;
 
    background-position:center;
}

.img-box7:nth-child(6){
    background: url(assets/10.png);
    background-size: cover;
    background-position:center;
}

.img-box7:nth-child(7) {
    background: url(assets/14.jpeg);
    background-size: cover;
    background-position: center;
}

.img-box7:hover {
    width: 300px;
    cursor: pointer;
}

.clay-container {
    display: flex;
}

/*contact*/

#contact {
    height: 100vh;
    position: relative;
}

#contact-text {
    height: 5vh;
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
    top: 30%;
}

#email2 {
    display: block;
    margin: auto;
    position: relative;
    top: 70%;
}

#homepagebtn2 {
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
}

/*alt clay*/

#clay-alt{
    visibility: hidden;
}

#clay-btn-alt {
    visibility: hidden;
}

#clay-btn {
    visibility: visible;
}